
.avatar {
    position: relative;
    display: inline-block;
    width: 40px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom;

}


.avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 10px;
    border-radius: 1000px;
    border-color: white;
}

.avatar-off i {
    background-color: #616161
}

.avatar-busy i {
    background-color: #ff9800
}

.avatar-away i {
    background-color: #f44336
}

.avatar-100 {
    width: 100px
}

.avatar-100 i {
    height: 20px;
    width: 20px
}

.avatar-lg {
    width: 50px
}

.avatar-lg i {
    height: 12px;
    width: 12px
}

.avatar-sm {
    width: 30px
}

.avatar-sm i {
    height: 8px;
    width: 8px
}

.avatar-xs {
    width: 20px
}

.avatar-xs i {
    height: 7px;
    width: 7px
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid transparent;
}
#daily-feed .name {
    font-weight: 500;
    color: #616161;
    cursor: pointer;
    text-decoration: none;
}

li.list-group-item{
    background-color: #000000;
    color: #FFFFFF;
    border-color: white;
    margin-bottom: 5px;
}

#daily-feed > div.panel-body > button {
    border-color: white;
    border-radius: 7px;
}

#daily-feed > div.panel-body > ul > li > div > div.media-body > h4 > a{
    color: #FFFFFF;
}

#daily-feed > div.panel-body > ul > li > div > div.media-body > h4 > small{
    color: white;
}

/* .panel-heading{
    background-color: #000000;
    color: #FFFFFF;
    border-color: white;
}

div.panel-body{
    border-color: black;
} */

#main-content > div > div > div > div {
    margin-left: none;
}